@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
@import 'tools/reset';
@import 'tools/functions';
@import 'tools/mixins';
@import 'tools/layouts';
@import 'tools/typography';

:root {
  --rs-body-color: #F9FAFB;
  --rs-body-color-alt: #F9FAFB;
  --rs-font-family-primary: "Poppins, sans-serif";
  --rs-font-family-alt: "Montserrat, sans-serif";
  --rs-text-primary: #27272A;
  --rs-bg-nav: #E9EAED;
  --rs-bg-contrast: #E9EAED;
  --rs-error: #DC2626;
  --rs-green: #16A34A;
  --rs-label: #18181B;
  --rs-border: #9CA3AF;
  --rs-focus: #1D4ED8;
  --rs-space: 8px;
  --rs-text-muted: #9999
}

@include dark() {
  --rs-body-color: #111318;
  --rs-bg-nav: #1E212A;
  --rs-bg-contrast: #1E212A;
  --rs-text-primary: #FFFFFF;
  --rs-body-color-alt: #171717;
}

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #777 #555;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
}

*::-webkit-scrollbar-track {
  background-color: #555;
}

body {
  font-family: var(--rs-font-family-primary);
  color: var(--rs-text-primary);
  line-height: 1.6;
  background: var(--rs-body-color);
}

img {
  width: 100%;
}

@import "modules/btn";
@import "modules/input";
/* COMPONENTS */
@import "components/nav";
@import "components/menuList";
@import "components/tabs";
/* PAGES */
@import "./pages/auth/login";
@import "./pages/auth/register";
@import "./pages/home/home";
@import "./pages/profil/general";

.rounded {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: var(--rs-border);
}
