.form-group textarea.outlined {
  resize: none;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input.field-outlined, textarea.field-outlined {
  display: block;
  border-radius: 4px;
  cursor: text;
  color: currentColor;
  background: none;
  margin: 0;
  overflow: hidden;
  outline: none;
  border: solid 2px var(--rs-border);
  padding: 8.5px 14px;
  width: 50%;
  line-height: 1.5;
  font-size: .850rem;

  &:focus {
    border-color: var(--rs-focus);
  }

  &.full-width {
    width: 100% !important;
  }
}

label.label-field {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: space(1);
  color: var(--rs-text-primary);
}

input.field-outlined::placeholder, textarea.field-outlined {
  font-size: .850rem;
}
