.login-form {
  max-width: 390px;
  margin: space(10) auto;
  background: var(--rs-body-color-alt);
  padding: space(3);
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
