.login-form {
  max-width: 390px;
  margin: space(10) auto;
  background: var(--rs-body-color-alt);
  padding: space(6) space(4);
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: space(3);
  background: var(--rs-body-color-alt);
  margin: space(10) auto;
  padding: space(6) space(4);
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  max-width: 800px;
}

.register-form .container-btn{
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
}
