.tabs-container {
  display: flex;
  border-bottom: solid 1px var(--rs-border);
  margin-bottom: space(4);
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.tabs-container a {
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  padding: space(2);
  transition: background-color 250ms ease;
  position: relative;
  bottom: -1px;
}

.tabs-container a[aria-selected="true"] {
  border-bottom: solid 2px var(--rs-focus);
}

.tabs-container a:hover, .tabs-container a:focus {
  border-bottom: solid 2px var(--rs-focus);
}

/*Animation des tabs*/

[role="tabpanel"] {
  transition: .4s;
}

[role="tabpanel"][hidden="hidden"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
}

.content-tab {
  position: relative;
  border: solid 1px var(--rs-border);
  padding: space(2);
  border-radius: 4px;
  background: var(--rs-bg-contrast);
}
