<section class="notification-container">
    <header>
        <h1 class="subtitle">Notifications par e-mail</h1>
        <p class="text-small">Gérer les alertes que vous recevrez par e-mail</p>
    </header>
    <article class="row-notification">
        <h1 class="text-small">Nouveau message privé</h1>
        <input type="checkbox" role="switch">
    </article>
</section>